
@page "/Account/Access-Denied"
@using WebUI.Components.Layout
@layout MainLayout

@* <TwoSectionTemplate>
	<Coli2Temlate>
		<div class="card">
			<div class="card-body">
				<div class="alert alert-warning"><h1>Sorry, you do not access</h1></div>
			</div>
		</div>
	</Coli2Temlate>
	<FooterTemplate><Footer/></FooterTemplate>
</TwoSectionTemplate>
 *@
@code {

}
